<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Message Board</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>
        <%= title %>
    </h1>
    <button><a href="/new">Add a Message</a></button>
    <% messages.forEach((message)=>{ %>
        <div class = "card">
            <div>
                <%= message.user %> says:
            </div>  
            <div>
                <%= message.text %>
            </div>
            <div>
                Time: <%= message.added %>
            </div>
            <button class = "message"><a href="/message/<%= message.id %>">See message details</a></button>
        </div>
    <% }); %>
</body>
</html>